name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the main branch
on:
  push:
    branches: [ main ]
  workflow_dispatch: []

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: windows-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        if: success()

      - name: Get Deployment Tool
        run: C:\msys64\usr\bin\wget.exe -q https://developer.elgato.com/documentation/stream-deck/distributiontool/DistributionToolWindows.zip

      - name: Unzip Deployment Tool
        if: success()
        shell: powershell
        run: powershell.exe -NoP -NonI -Command "Expand-Archive '.\DistributionToolWindows.zip' '.\'"

      - name: Create Release Folder
        if: success()
        shell: powershell
        run: mkdir Release

      - name: Package
        if: success()
        shell: powershell
        run: .\DistributionTool.exe -b -i "live.goodbytes.obsmessage.sdPlugin" -o Release